* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.main {
    display: flex;
    flex-direction: column;
}

.form_container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
    padding: 16px;
}

.form_container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 93%;
    padding: 20px;
}

.form_container > img {
    height: 37px;
    padding-bottom: 12px;
    align-self: flex-start;
}

.form_container > h1 {
    margin-bottom: 48px;
    margin-top: 48px;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.8px;
}

.form_container > h2 {
    margin-bottom: 32px;
    font-size: 23px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -1.2px;
}

.info {
    display: flex;
    flex-direction: column;
}

.info > .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid grey;
    cursor: pointer;
}

.info > .btn > img {
    width: 18px;
    margin-right: 8px;
}

.terminos {
    line-height: 16px;
    font-size: 14px;
    max-width: 380px;
    margin-bottom: 20px;
}

.terminos > a {
    color: rgb(29, 155, 240);
}

.loginSingUpFooter > a {
    color: rgb(29, 155, 240);
}

.loginSingUpFooter {
    font-size: 17px;
    line-height: 20px;
}

.bgBox {
    width: 100%;
    min-height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/img/bg_twitter.png");
}

.bgBox > img {
    width: 250px;
    height: 200px;
    max-width: 100%;
    padding: 32px;
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 12px;
}

.footer > li {
    padding-right: 16px;
    font-size: 14px;
    line-height: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.footer > li > a {
    color: rgb(83, 100, 113);
}

@media (min-width: 501px) {
    
    .form_container > h1 {
        font-size: 64px;
        font-weight: 700;
        line-height: 84px;
        letter-spacing: -1.2px;
        font-style: normal;
    }

    .form_container > h2 {
        margin-bottom: 32px;
        font-size: 31px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: -1.2px;
    }

}

@media (min-width: 1001px) {

    .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .form_container {
        display: flex;
        justify-content: center;
        width: 50vw;
        min-width: 760px;
        max-width: 760px;
        padding: 20px;
    }

    .bgBox {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("/assets/img/bg_twitter.png");
        min-width: 210px;
        max-width: 1040px;
        min-height: 95vh;
    }

    .bgBox > img {
        min-width: 140px;
        max-width: 360px;
        height: auto;
        padding: 32px;
    }

}

